* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #404040;
}

.main {
  background-image: url("../img/kitchen.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__container__header {
  font-size: 600%;
  margin-bottom: 0;
}
@media (max-width: 800px) {
  .home__container__header {
    color: #a3ceff;
  }
}
.home__container__header span {
  color: #a3ceff;
}
@media (max-width: 800px) {
  .home__container__header {
    font-size: 450%;
    padding: 4rem;
  }
}
@media (max-width: 425px) {
  .home__container__header {
    margin-right: 6rem;
  }
}
@media (max-width: 360px) {
  .home__container__header {
    font-size: 350%;
  }
}
.home__container__slogan {
  font-size: 160%;
  color: #a3ceff;
}
.home__container__slogan span {
  color: #404040;
}
@media (max-width: 800px) {
  .home__container__slogan span {
    color: #a3ceff;
  }
}
@media (max-width: 800px) {
  .home__container__slogan {
    font-size: 140%;
  }
}
@media (max-width: 500px) {
  .home__container__slogan {
    font-size: 130%;
    width: 85%;
  }
}

.main_nav {
  position: fixed;
  top: 1.5rem;
  right: 0;
  z-index: 2;
}
@media (max-width: 700px) {
  .main_nav {
    left: 0;
  }
}
.main_nav a {
  font-size: 120%;
  text-decoration: none;
  padding: 2rem;
  color: #fffef9;
}
@media (max-width: 800px) {
  .main_nav a {
    font-size: 90%;
  }
}
.main_nav a:hover {
  color: #a3ceff;
}

.filter {
  margin-top: 3em;
  padding: 1em;
  display: flex;
  justify-content: center;
  background-color: #a3ceff;
  border-radius: 1.2rem;
}
@media (max-width: 360px) {
  .filter {
    padding: 0.5em;
  }
}

.filter__input {
  margin-left: 1em;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: #fffef9;
  color: #404040;
  padding: 1em;
  border-top: 1px solid #a3ceff;
  border-radius: 1.2rem;
}

.country-select {
  font-size: 1rem;
  font-weight: bold;
}

.country-select:hover {
  cursor: pointer;
  color: #a3ceff;
}

.country {
  background-color: #fff6e9;
}
.country__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.country__heading {
  font-size: 300%;
  margin-top: 5rem;
}
@media (max-width: 530px) {
  .country__heading {
    font-size: 200%;
    align-items: center;
  }
}
@media (max-width: 530px) {
  .country__tag {
    font-size: 100%;
  }
}
.country__options {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 530px) {
  .country__options {
    flex-direction: column;
    align-items: center;
  }
}
.country__option {
  margin-bottom: 4rem;
}
@media (max-width: 530px) {
  .country__option {
    margin-top: 1.5rem;
  }
}
.country__option img {
  width: 100px;
  border-radius: 30%;
}

.recipe {
  background-color: #e3f0ff;
}
.recipe__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipe__heading {
  font-size: 300%;
  margin-top: 5rem;
  text-align: center;
}
.recipe__ingredients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .recipe__ingredients {
    flex-direction: column;
  }
}
.recipe__ingredient {
  padding: 1.5rem;
}
.recipe__instructions {
  margin: 2rem 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map*/